body{
    padding: 0px;
    margin: 0px
}

h1{
    color: green
}


main{
    padding: 16px
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: lightgreen;
}

img{
    margin-top:20px;
    height: 200px;
}

nav {
    background-color: red;
    border-bottom: 1px solid black;
    color: black;
    padding: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 2fr;
    column-gap: 10%

}

header{
    background-color:rgb(rgb(88, 11, 11), rgb(189, 230, 189), rgb(20, 20, 206))
}

a {
    color: green;
}
